<footer>
<div class="row">
	<div class="column large-8 medium-6 small-12 medium-order-1 small-order-1">
		<strong class="larger-font">Модный вирус</strong>
	</div>
	<div class="column large-10 medium-13 small-24 medium-order-2 small-order-3">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</div>
	<div class="column large-6 medium-5 small-12 medium-order-3 small-order-2 text-right">
		<strong>+ 7 495 123 45 67</strong>
		<a href="#" class="request-call">info@domen.ru</a>
	</div>
</div>
<br>
<div class="row">
	<div class="column large-6 medium-6 small-24">
		<p>
			Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации модели развития. 
		</p>
	</div>
	<div class="column large-10 medium-10 medium-offset-8 large-offset-8 small-24 text-right">
		<address>
			<span>Москва,</span>
			<span>ул. Пушкина 75/1</span>
		</address>
		<p>&copy;2017 Студия дизайна интерьера "Лаборатория дизайна"</p>
	</div>
</div>
</footer>
<script src="./js/bundle.js"></script>
</body>
</html>