<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="./css/app.css" rel="stylesheet">
    <title>Fashion is our profession</title>
</head>
<body>
<header>
	<div class="row collapse">
		<div class="column large-4 medium-5 small-8 large-offset-2 large-order-1 medium-order-1 small-order-1">
			<img src="./img/logo.png">
		</div>
		<div class="column large-4 medium-4 small-8 large-order-2 medium-order-2 small-order-2">
			<span>Слоган компании<br>
			в две строки</span>
		</div>
		<div class="column large-9 medium-10 small-24 large-order-3 medium-order-3 small-order-4">
			<nav class="menu">
				<ul>
					<li class="active"><a href="/m_virus/build/index.html">Главная</a></li>
					<li><a href="/m_virus/build/article.html">О компании</a></li>
					<li><a href="/m_virus/build/flor_page.html">Новости</a></li>
					<li><a href="/m_virus/build/contacts.html">Контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="column large-4 medium-4 small-8 large-order-4 medium-order-4 small-order-3">
			<strong>+ 7 495 123 45 67</strong>
			<a href="#" class="request-call">Заказать звонок</a>
		</div>
	</div>
	<div class="sub-menu">
		<div class="row">
			<div class="column small-24 text-center">
				<ul>
					<li><a href="#">Дизайн и производство одежды DRimma</a></li>
					<li><a href="#">Брендирование одежды</a></li>
					<li><a href="#">Дизайн интерьеров</a></li>
					<li><a href="#">Флористика</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>